@model ExploreCities.Web.ViewModels.DistrictViews.DistrictViewEditModel

@{ ViewData["Title"] = "Edit View"; }

<div class="row justify-content-center">
    <form method="post" class="col-md-6" asp-area="" asp-controller="DistrictViews" asp-action="Edit"
          enctype="multipart/form-data">

        <div asp-validation-summary="All" class="text-danger"></div>

        <h1 class="text-center">@this.ViewData["Title"]</h1>

        <hr />

        <div class="form-group">
            <label asp-for="DistrictName"></label>
            <input asp-for="DistrictName" class="form-control" />
            <span asp-validation-for="DistrictName" class="text-danger"></span>
        </div>

        <div class="form-group">
            <label asp-for="ArrivalYear"></label>
            <input asp-for="ArrivalYear" class="form-control" />
            <span asp-validation-for="ArrivalYear" class="text-danger"></span>
        </div>

        <div class="form-group">
            <label asp-for="DepartureYear"></label>
            <input asp-for="DepartureYear" class="form-control" />
            <span asp-validation-for="DepartureYear" class="text-danger"></span>
        </div>

        @*<div class="form-group">
                <label asp-for="PictureUrl"></label>
                <input asp-for="PictureUrl" class="form-control">
                <span asp-validation-for="PictureUrl" class="small text-danger"></span>
            </div>*@

        @await this.Html.PartialAsync("_RateEditPartial")

        <div class="form-group">
            <label asp-for="Comment"></label>
            <textarea asp-for="Comment" rows="4" class="form-control" placeholder="Update comment for: street lighting, street pollution, street quality, metro/train/bus station existence and other objects in region."></textarea>
            <span asp-validation-for="Comment" class="small text-danger"></span>
        </div>

        <div class="form-group">
            <label asp-for="Picture"></label>
            <input asp-for="Picture" class="form-control-file" />
            <span asp-validation-for="Picture" class="text-danger"></span>
        </div>

        <div class="row ">
            <div class="col d-flex justify-content-center" style="width: 100%">
                <input type="submit" style="width: 150px" value="Edit" class="btn btn-primary mr-1 ml-1" />
                <a class="btn btn-warning  ml-1 mr-1" style="width: 150px" asp-area="" asp-controller="DistrictViews" asp-action="Delete" asp-route-id="@Model.Id">Delete</a>
            </div>
        </div>
    </form>

</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
